/* grid section */
.container, .container-fluid{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
$grid-columns: 12;
$grid-xxl-breakpoint: 1400px;
$grid-xl-breakpoint: 1200px;
// $grid-lg-breakpoint: 992px;
// $grid-md-breakpoint: 768px;
// $grid-sm-breakpoint: 576px;
/* xxl */
@media(min-width: $grid-xxl-breakpoint){
    .container{
        width: 1320px;
    }
    @for $i from 1 through $grid-columns {
        .col-xxl-#{$i}{
            width: (100/12) * $i * 1%;
            padding: 0 15px;
        }
    }
}
/* xl  */
@media(min-width: $grid-xl-breakpoint){
    .container{
        width: 1140px;
    }
    @for $i from 1 through $grid-columns {
        .col-xl-#{$i}{
            width: (100/12) * $i * 1%;
            padding: 0 15px;
        }
    }
}
/* lg  */
// @media(min-width: $grid-lg-breakpoint){
//     .container{
//         width: 960px;
//     }
//     @for $i from 1 through $grid-columns {
//         .col-lg-#{$i}{
//             width: (100/12) * $i * 1%;
//             padding: 0 15px;
//         }
//     }
// }
// /* md  */
// @media(min-width: $grid-md-breakpoint){
//     .container{
//         width: 720px;
//     }
//     @for $i from 1 through $grid-columns {
//         .col-md-#{$i}{
//             width: (100/12) * $i * 1%;
//             padding: 0 15px;
//         }
//     }
// }
// /* sm  */
// @media(min-width: $grid-sm-breakpoint){
//     .container{
//         width: 540px;
//     }
//     @for $i from 1 through $grid-columns {
//         .col-sm-#{$i}{
//             width: (100/12) * $i * 1%;
//             padding: 0 15px;
//         }
//     }
// }
