/*  common color */
$white: #fff;
$black: #000;
$common:#fc482c;
$bg-gray:#f6f6f6;
$gray: #333;
$overlay: rgba(0,0,0,.75);
$overlay2: rgba(255,255,255,.75);
/*  common color */
$link_color: #333333;
$link_hover: #fc482c;
$btn_back:#fc482c;