header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9999;
    color: $white;
    padding: 20px 0;
    transition: 1s;
    .logo{
        a {
            display: inline-block;
            border: 1px solid $white;
            padding: 5px 10px;
            font-size: 18px;
            font-weight: bold;
            &:hover {
                color: $link_hover;
            }
        }
    }
    a{
        color: $white;
    }
    .menu{
        ul{
            li{
                &.current a{
                    color: $link_hover;
                }
                a{
                    display: block;
                    font-size: 18px;
                    margin-left: 15px;
                    font-weight: bold;
                    &:hover {
                        color: $link_hover;
                    }

                }

            }
        }
    }
}