.timeline-area{
    .timeline-list{
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            background-color: $common;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        li{
            position: relative;
            overflow: hidden;
            &::after{
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 20px;
                height: 20px;
                background-color: $common;
                border-radius: 50%;
            }
             &:nth-child(even) {
                 .timeline-content{
                    float: right;
                    text-align: left;
                 }
             }
            .timeline-content {
                width: 45%;
                border: 2px solid $common;
                text-align: right;
                padding: 20px;
                float: left;
                span{
                    color: $common;
                    font-weight: bold;
                }
                h4{
                    font-size: 25px;
                    font-weight: bold;
                    margin: 10px 0;
                }

            }
        }
    }
}